body {
    background-color: rgba(234, 210, 178, 0.952);
}

#logo {
    width: 300px;
    height: auto;
}

#header {
    color: rgb(120, 71, 71);
}

.sub-header {
    color: rgb(99, 99, 207);
}

#back {
    background-color: rgb(106, 183, 106);
}

#return {
    background-color: yellow;
}